html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* Mixins to extend what Compass provides */
/* Fallback for older browsers */
.stage {
  display: none; }

.csstransforms3d .stage {
  display: block; }

.fallback-stage {
  width: 100%;
  height: 600px;
  background: url(../images/fallback.png) no-repeat center; }

.csstransforms3d .fallback-stage {
  display: none; }

body {
  background-color: #eee9e6;
  font-size: 34px; }

.stage {
  width: 100%;
  height: 700px;
  position: relative;
  -webkit-perspective: 1600px;
  -moz-perspective: 1600px;
  -ms-perspective: 1600px;
  -o-perspective: 1600px;
  perspective: 1600px;
  -webkit-perspective-origin: 50% 240px;
  -moz-perspective-origin: 50% 240px;
  -ms-perspective-origin: 50% 240px;
  -o-perspective-origin: 50% 240px;
  perspective-origin: 50% 240px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #131c2d), color-stop(40%, #131c2d), color-stop(40%, #b1b5b8), color-stop(100%, #eee9e6));
  background: -webkit-linear-gradient(top, #131c2d, #131c2d 40%, #b1b5b8 40%, #eee9e6);
  background: -moz-linear-gradient(top, #131c2d, #131c2d 40%, #b1b5b8 40%, #eee9e6);
  background: -o-linear-gradient(top, #131c2d, #131c2d 40%, #b1b5b8 40%, #eee9e6);
  background: linear-gradient(top, #131c2d, #131c2d 40%, #b1b5b8 40%, #eee9e6); }

.positioning {
  -webkit-transform: rotateY(10deg);
  -moz-transform: rotateY(10deg);
  -ms-transform: rotateY(10deg);
  -o-transform: rotateY(10deg);
  transform: rotateY(10deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /* +animation(back-and-forth 4s ease-out infinite) */ }

/* 13.6 x 9.6 x 10.9 */
.mac {
  width: 14em;
  height: 10em;
  margin: 0 auto; }
  .mac figure {
    display: block;
    top: 100px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 1; }
  .mac .front {
    height: 11.5em;
    width: 9.6em;
    background-color: #d9dbb6;
    -webkit-transform: rotateX(5deg) translateZ(5.44em);
    -moz-transform: rotateX(5deg) translateZ(5.44em);
    -ms-transform: rotateX(5deg) translateZ(5.44em);
    -o-transform: rotateX(5deg) translateZ(5.44em);
    transform: rotateX(5deg) translateZ(5.44em); }
    .mac .front span {
      position: absolute;
      display: block; }
    .mac .front .bezel-top {
      border-top: 0.75em solid #e8e6cc;
      border-right: 0.5em solid transparent;
      border-left: 0.5em solid transparent;
      width: 8.6em; }
    .mac .front .bezel-left {
      border-top: 0.5em solid #d1d2a9;
      border-right: 0.75em solid transparent;
      border-left: 0.75em solid transparent;
      width: 10.15em;
      -webkit-transform: rotateZ(-90deg) translateX(-5.6em) translateY(-5.58em);
      -moz-transform: rotateZ(-90deg) translateX(-5.6em) translateY(-5.58em);
      -ms-transform: rotateZ(-90deg) translateX(-5.6em) translateY(-5.58em);
      -o-transform: rotateZ(-90deg) translateX(-5.6em) translateY(-5.58em);
      transform: rotateZ(-90deg) translateX(-5.6em) translateY(-5.58em); }
    .mac .front .bezel-right {
      border-top: 0.5em solid #d1d2a9;
      border-right: 0.75em solid transparent;
      border-left: 0.75em solid transparent;
      width: 10em;
      -webkit-transform: rotateZ(90deg) translateX(5.5em) translateY(-3.62em);
      -moz-transform: rotateZ(90deg) translateX(5.5em) translateY(-3.62em);
      -ms-transform: rotateZ(90deg) translateX(5.5em) translateY(-3.62em);
      -o-transform: rotateZ(90deg) translateX(5.5em) translateY(-3.62em);
      transform: rotateZ(90deg) translateX(5.5em) translateY(-3.62em); }
    .mac .front .bezel-bottom {
      border-top: 0.75em solid #c2c39a;
      border-right: 0.5em solid transparent;
      border-left: 0.5em solid transparent;
      width: 8.65em;
      -webkit-transform: rotateZ(180deg) translateY(-10.76em);
      -moz-transform: rotateZ(180deg) translateY(-10.76em);
      -ms-transform: rotateZ(180deg) translateY(-10.76em);
      -o-transform: rotateZ(180deg) translateY(-10.76em);
      transform: rotateZ(180deg) translateY(-10.76em); }
    .mac .front .screen-container {
      width: 6.25em;
      height: 4.8em;
      background: #d1d2a9;
      border-radius: 0.1em;
      padding: 0.5em;
      -webkit-transform: translate3d(1.15em, -1.5em, 0);
      -moz-transform: translate3d(1.15em, -1.5em, 0);
      -ms-transform: translate3d(1.15em, -1.5em, 0);
      -o-transform: translate3d(1.15em, -1.5em, 0);
      transform: translate3d(1.15em, -1.5em, 0); }
      .mac .front .screen-container .screen {
        display: block;
        position: absolute;
        left: 0.6em;
        top: 0;
        background: #657374;
        border: 0.5em solid #657374;
        width: 512px;
        height: 372px;
        -webkit-transform: scale(0.43) translate3d(-11.6em, -7.2em, 0);
        -moz-transform: scale(0.43) translate3d(-11.6em, -7.2em, 0);
        -ms-transform: scale(0.43) translate3d(-11.6em, -7.2em, 0);
        -o-transform: scale(0.43) translate3d(-11.6em, -7.2em, 0);
        transform: scale(0.43) translate3d(-11.6em, -7.2em, 0);
        border-radius: 0.7em;
        overflow: hidden; }
        .mac .front .screen-container .screen img {
          padding-top: 0.4em; }
  .mac .back {
    height: 11.5em;
    width: 9.6em;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2da), color-stop(0.25em, #dddebc), color-stop(100%, #bfc096));
    background: -webkit-linear-gradient(top, #f2f2da, #dddebc 0.25em, #bfc096);
    background: -moz-linear-gradient(top, #f2f2da, #dddebc 0.25em, #bfc096);
    background: -o-linear-gradient(top, #f2f2da, #dddebc 0.25em, #bfc096);
    background: linear-gradient(top, #f2f2da, #dddebc 0.25em, #bfc096);
    -webkit-transform: rotateX(5deg) translateZ(-5.45em) rotateY(180deg);
    -moz-transform: rotateX(5deg) translateZ(-5.45em) rotateY(180deg);
    -ms-transform: rotateX(5deg) translateZ(-5.45em) rotateY(180deg);
    -o-transform: rotateX(5deg) translateZ(-5.45em) rotateY(180deg);
    transform: rotateX(5deg) translateZ(-5.45em) rotateY(180deg); }
  .mac .top {
    height: 10.95em;
    width: 9.6em;
    background-color: #ebf0dc;
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fafee7), color-stop(0.25em, #eaf2db), color-stop(9.35em, #eaf2db), color-stop(100%, #fafee7));
    background: -webkit-linear-gradient(left, #fafee7, #eaf2db 0.25em, #eaf2db 9.35em, #fafee7);
    background: -moz-linear-gradient(left, #fafee7, #eaf2db 0.25em, #eaf2db 9.35em, #fafee7);
    background: -o-linear-gradient(left, #fafee7, #eaf2db 0.25em, #eaf2db 9.35em, #fafee7);
    background: linear-gradient(left, #fafee7, #eaf2db 0.25em, #eaf2db 9.35em, #fafee7);
    -webkit-transform: rotateX(5deg) rotateX(90deg) translateZ(5.45em);
    -moz-transform: rotateX(5deg) rotateX(90deg) translateZ(5.45em);
    -ms-transform: rotateX(5deg) rotateX(90deg) translateZ(5.45em);
    -o-transform: rotateX(5deg) rotateX(90deg) translateZ(5.45em);
    transform: rotateX(5deg) rotateX(90deg) translateZ(5.45em); }
  .mac .left {
    height: 11.5em;
    width: 10.9em;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2da), color-stop(0.25em, #dddebc), color-stop(100%, #bfc096));
    background: -webkit-linear-gradient(top, #f2f2da, #dddebc 0.25em, #bfc096);
    background: -moz-linear-gradient(top, #f2f2da, #dddebc 0.25em, #bfc096);
    background: -o-linear-gradient(top, #f2f2da, #dddebc 0.25em, #bfc096);
    background: linear-gradient(top, #f2f2da, #dddebc 0.25em, #bfc096);
    -webkit-transform: rotateX(5deg) rotateY(-90deg) translateZ(5.45em);
    -moz-transform: rotateX(5deg) rotateY(-90deg) translateZ(5.45em);
    -ms-transform: rotateX(5deg) rotateY(-90deg) translateZ(5.45em);
    -o-transform: rotateX(5deg) rotateY(-90deg) translateZ(5.45em);
    transform: rotateX(5deg) rotateY(-90deg) translateZ(5.45em); }
  .mac .right {
    height: 11.5em;
    width: 10.9em;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2da), color-stop(0.25em, #dddebc), color-stop(100%, #bfc096));
    background: -webkit-linear-gradient(top, #f2f2da, #dddebc 0.25em, #bfc096);
    background: -moz-linear-gradient(top, #f2f2da, #dddebc 0.25em, #bfc096);
    background: -o-linear-gradient(top, #f2f2da, #dddebc 0.25em, #bfc096);
    background: linear-gradient(top, #f2f2da, #dddebc 0.25em, #bfc096);
    -webkit-transform: rotateX(5deg) rotateY(90deg) translateZ(4.14em);
    -moz-transform: rotateX(5deg) rotateY(90deg) translateZ(4.14em);
    -ms-transform: rotateX(5deg) rotateY(90deg) translateZ(4.14em);
    -o-transform: rotateX(5deg) rotateY(90deg) translateZ(4.14em);
    transform: rotateX(5deg) rotateY(90deg) translateZ(4.14em); }
  .mac .base-front {
    height: 2.1em;
    width: 9.6em;
    background: #d1d2a9;
    -webkit-transform: translateY(10.7em) translateZ(5em);
    -moz-transform: translateY(10.7em) translateZ(5em);
    -ms-transform: translateY(10.7em) translateZ(5em);
    -o-transform: translateY(10.7em) translateZ(5em);
    transform: translateY(10.7em) translateZ(5em); }
  .mac .base-back {
    height: 2.1em;
    width: 9.6em;
    background: #bdbe94;
    -webkit-transform: translateY(10.7em) translateZ(-5em) rotateY(180deg);
    -moz-transform: translateY(10.7em) translateZ(-5em) rotateY(180deg);
    -ms-transform: translateY(10.7em) translateZ(-5em) rotateY(180deg);
    -o-transform: translateY(10.7em) translateZ(-5em) rotateY(180deg);
    transform: translateY(10.7em) translateZ(-5em) rotateY(180deg); }
  .mac .base-left {
    height: 2.1em;
    width: 10em;
    background: #bfc096;
    -webkit-transform: translateY(10.7em) rotateY(-90deg) translateZ(5em);
    -moz-transform: translateY(10.7em) rotateY(-90deg) translateZ(5em);
    -ms-transform: translateY(10.7em) rotateY(-90deg) translateZ(5em);
    -o-transform: translateY(10.7em) rotateY(-90deg) translateZ(5em);
    transform: translateY(10.7em) rotateY(-90deg) translateZ(5em); }
  .mac .base-right {
    height: 2.1em;
    width: 10em;
    background: #bfc096;
    -webkit-transform: translateY(10.7em) rotateY(90deg) translateZ(4.6em);
    -moz-transform: translateY(10.7em) rotateY(90deg) translateZ(4.6em);
    -ms-transform: translateY(10.7em) rotateY(90deg) translateZ(4.6em);
    -o-transform: translateY(10.7em) rotateY(90deg) translateZ(4.6em);
    transform: translateY(10.7em) rotateY(90deg) translateZ(4.6em); }
  .mac .logo {
    -webkit-transform: translateY(5.5em) translateX(1.25em);
    -moz-transform: translateY(5.5em) translateX(1.25em);
    -ms-transform: translateY(5.5em) translateX(1.25em);
    -o-transform: translateY(5.5em) translateX(1.25em);
    transform: translateY(5.5em) translateX(1.25em); }
    .mac .logo span.image {
      display: block;
      position: absolute;
      width: 15px;
      height: 18px;
      left: 0;
      background: url(../images/bg/apple.png) no-repeat bottom;
      background-size: 100%; }
    .mac .logo span.text {
      display: block;
      position: absolute;
      left: 2.5em;
      top: 0.6em;
      width: 10em;
      font-family: "EB Garamond", "Times New Roman", Times, serif;
      font-size: 0.333em;
      color: #555555;
      line-height: 0.8em; }
  .mac .floppy {
    height: 0.2em;
    width: 2.5em;
    -webkit-transform: translate3d(4.8em, 5.65em, 0);
    -moz-transform: translate3d(4.8em, 5.65em, 0);
    -ms-transform: translate3d(4.8em, 5.65em, 0);
    -o-transform: translate3d(4.8em, 5.65em, 0);
    transform: translate3d(4.8em, 5.65em, 0);
    background: #333333;
    border-top: 0.1em solid #c2c39a;
    border-right: 0.5em solid #d1d2a9;
    border-bottom: 0.1em solid #d9dbb6;
    border-left: 0.5em solid #d1d2a9;
    border-radius: 0.25em; }

@-moz-keyframes back-and-forth {
  0% {
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg); }

  25% {
    -moz-transform: rotateY(-40deg);
    transform: rotateY(-40deg); }

  75% {
    -moz-transform: rotateY(40deg);
    transform: rotateY(40deg); }

  100% {
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@-webkit-keyframes back-and-forth {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }

  25% {
    -webkit-transform: rotateY(-40deg);
    transform: rotateY(-40deg); }

  75% {
    -webkit-transform: rotateY(40deg);
    transform: rotateY(40deg); }

  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@-o-keyframes back-and-forth {
  0% {
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); }

  25% {
    -o-transform: rotateY(-40deg);
    transform: rotateY(-40deg); }

  75% {
    -o-transform: rotateY(40deg);
    transform: rotateY(40deg); }

  100% {
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@-ms-keyframes back-and-forth {
  0% {
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg); }

  25% {
    -ms-transform: rotateY(-40deg);
    transform: rotateY(-40deg); }

  75% {
    -ms-transform: rotateY(40deg);
    transform: rotateY(40deg); }

  100% {
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@keyframes back-and-forth {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); }

  25% {
    -webkit-transform: rotateY(-40deg);
    -moz-transform: rotateY(-40deg);
    -ms-transform: rotateY(-40deg);
    -o-transform: rotateY(-40deg);
    transform: rotateY(-40deg); }

  75% {
    -webkit-transform: rotateY(40deg);
    -moz-transform: rotateY(40deg);
    -ms-transform: rotateY(40deg);
    -o-transform: rotateY(40deg);
    transform: rotateY(40deg); }

  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); } }
